/React.js/01vitereact/node_module
/React.js/02counter/node_module
/React.js/03tailwindprops/node_module
/React.js/04bgChanger/node_module
/React.js/05passwordGen/node_module
/React.js/myapp
/React.js/next-app
/1.txt
/Animated-website
/Backend/node_modules
Projects/Appwrite - Project/BlogSlog/.env
Projects/amazon-clone/src/firebase.js
Projects/amazon-clone/src/StateProvider.js
Projects/amazon-clone/src/Subtotal.css
Projects/amazon-clone/src/Subtotal.js
