<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="a">Home</h1>
    <p class="a">
        Hello <%=name%>
    </p>
</body>

<style>
    *{
        background-color: rgb(7, 49, 50);
        box-sizing: content-box;
        margin: 0;
        padding: 0;
    }
    .a{
        color: rgb(195, 226, 122);
        margin-left: 45%;
        margin-top: 25%;
        align-items: center;
        justify-content: center;
    }
</style>
</html>