*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: whitesmoke;
}

html, body{
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #151515, #404040); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#main>h1{
    font-size: 48px;
    display: flex;
    align-items: center;
}

#main>h1>span{
    margin: 0 15px;
    display: flex;
    align-items: center;
}

#main>#endec-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(16, 16, 16); */
    padding: 8px;
    width: 90%;
    margin: 35px 0;
    border-radius: 10px;
}

#main>#endec-div {
    font-size: 16px;
    display: flex;
    font-weight: 500;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 10px;
    background-color: rgb(7, 7, 7);
}

#enc-btn{
    color: blue;
}

