*{
    box-sizing: border-box;    
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-image: url(back.jpg);
    background-size: cover;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    color: aliceblue;
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
    
}

.countdown-container {
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text {
    color: aliceblue;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1.5rem 3rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}

